name: {{name}}
vaults:
{{#nitro}}
  aws-acm0:
    type: aws-acm
  aws-secrets0:
    type: aws-secrets
{{/nitro}}
{{^nitro}}
  aws-secrets0:
    type: aws-secrets
{{/nitro}}
telemetry:
  metrics:
    - stream.active.received
    - stream.active.sent
    - stream.opens.received
    - stream.opens.sent
    - stream.data.received
    - stream.data.sent
    - stream.errors.received
    - stream.errors.sent
    - stream.closes.received
    - stream.closes.sent
  exporters:
    stdout_logs_exporter:
      type: stdout
{{#cloudwatch}}
    aws0:
      type: aws-cloudwatch
      options:
{{#cloudwatch.logs}}
        logs:
          group: {{{cloudwatch.logs.group}}}
          stream: {{{cloudwatch.logs.stream}}}
{{/cloudwatch.logs}}
{{#cloudwatch.metrics}}
        metrics:
          namespace: {{{cloudwatch.metrics.namespace}}}
          interval: {{{cloudwatch.metrics.interval}}}
{{/cloudwatch.metrics}}
{{/cloudwatch}}
bindings:
  tcp_server:
    type: tcp
    kind: server
    options:
      host: 0.0.0.0
      port: {{external.port}}
    telemetry:
      metrics:
        - stream.*
    exit: tls_server
  tls_server:
    type: tls
    kind: server
{{#nitro}}
    vault: aws-acm0
{{/nitro}}
{{^nitro}}
    vault: aws-secrets0
{{/nitro}}
    options:
      keys:
        - {{{external.certificate}}}
{{#external.trust}}
      trust:
        - {{{external.trust}}}
{{/external.trust}}
    telemetry:
      metrics:
        - stream.*
    routes:
      - exit: kafka_proxy
        when:
          - authority: '{{external.authority}}'
  kafka_proxy:
    type: kafka-proxy
    kind: proxy
    options:
      external:
        host: '{{external.host}}'
        port: {{external.port}}
      internal:
        host: '{{internal.host}}'
        port: {{internal.port}}
{{#internal.defaultHost}}
        default: '{{internal.defaultHost}}'
{{/internal.defaultHost}}
    telemetry:
      metrics:
        - stream.*
    exit: tls_client
  tls_client:
    type: tls
    kind: client
{{#internal.trust}}
    vault: aws-secrets0
    options:
      signers:
        - {{{internal.trust}}}
{{/internal.trust}}
    telemetry:
      metrics:
        - stream.*
    exit: tcp_client
  tcp_client:
    type: tcp
    kind: client
    telemetry:
      metrics:
        - stream.*
